.portfolio {
	width: 100%;
	max-width: 1200px;
	padding-top: 65px;
	padding-bottom: 65px;
	margin: 0 auto;
}

.portfolio__title {
	font-weight: normal;
	font-size: 40px;
	line-height: 1.25;
	color: #533738;
	margin: 0;
	margin-bottom: 40px;
}

.portfolio-grid {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px
		1fr;
	grid-template-columns: repeat(12, 1fr);
	-moz-column-gap: 20px;
	column-gap: 20px;
	row-gap: 30px;
}

.portfolio-grid__item {
	position: relative;
	height: 450px;
}

.portfolio-grid__item:nth-child(1) {
	-ms-grid-column: 1;
	grid-column-start: 1;
	-ms-grid-column-span: 5;
	grid-column-end: 6;
}

.portfolio-grid__item:nth-child(2) {
	-ms-grid-column: 6;
	grid-column-start: 6;
	-ms-grid-column-span: 7;
	grid-column-end: 13;
}

.portfolio-grid__item:nth-child(3) {
	-ms-grid-column: 1;
	grid-column-start: 1;
	-ms-grid-column-span: 7;
	grid-column-end: 8;
}

.portfolio-grid__item:nth-child(4) {
	-ms-grid-column: 8;
	grid-column-start: 8;
	-ms-grid-column-span: 5;
	grid-column-end: 13;
}

.portfolio-grid__image {
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
	-o-object-position: center;
	object-position: center;
}

.portfolio-grid__content {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 85px 35px 0;
	background-color: rgba(100, 72, 69, 0.8);
	opacity: 0;
	transition: opacity 0.5s;
	box-sizing: border-box;
}

.portfolio-grid__item:hover .portfolio-grid__content {
	opacity: 1;
}

.portfolio-grid__title {
	max-width: 270px;
	margin: 0 auto;
	margin-bottom: 20px;
	font-weight: 500;
	font-size: 30px;
	line-height: 1.2;
	text-align: center;
	color: #ffffff;
}

.portfolio-grid__text {
	margin: 0;
	font-size: 18px;
	line-height: 1.65;
	color: #ffffff;
}

.portfolio__link {
	display: flex;
	align-items: center;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	margin: 40px auto 0;
	font-weight: 500;
	font-size: 30px;
	line-height: 1.2;
	color: #533738;
	text-decoration: none;
	transition: color 0.3s;
}

.portfolio__link:hover {
	color: #cc8b86;
}

.portfolio__link:hover path {
	fill: #cc8b86;
}

.portfolio__link path {
	transition: fill 0.3s;
}

.portfolio__link svg {
	margin-left: 10px;
}
