.preview {
	width: 100%;
	padding: 152px 0 168px;
	background-image: url('../img/preview.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	box-sizing: border-box;
}

.preview__title {
	max-width: 534px;
	margin: 0;
	font-size: 50px;
	font-weight: normal;
	line-height: 1.2;
	color: #533738;
}

.preview__description {
	max-width: 493px;
	font-size: 18px;
	line-height: 1.67;
	color: #533738;
	margin: 23px 0;
}

.preview__link {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	color: #533738;
	padding: 1.25em 3.3em 1.2em;
	background-color: #cc8b86;
	text-decoration: none;
	display: inline-block;
	transition: background-color 0.3s;
}

.preview__link:hover {
	background-color: #cc8b86cc;
}
